body { 
	margin:0;
	padding:0;
	font-family: Avenir Next;
}

#title {
	width: 70%;
	font-size: 60px;
	color: #c41200;
	margin: 0 auto;
	text-align: center;
	letter-spacing: 2px;
	background-color: transparent;
}

#background {
	width: 100%;
	background-color: transparent;
}

#map {
	position:fixed;
	width: 100%;
	height: 100%;
}

.cityToggle {
	width: 140px;
	height: 30px;
	line-height: 30px;
	border: 2px solid #c41200;
	background-color: white;
	color: #c41200;
	text-align: center;
	display: inline-block;
	font-size: 13px;
	transition: all .2s ease-in;
}

.small {
	font-size: 11px;
}

.cityToggle:hover {
	cursor: pointer;
	background-color: #c41200;
	color: white;

	transition: all .1s ease-out;
}

.citySelected {
	background-color: #c41200;
	color: white;
}

#citySelection {
	margin: 0 auto;
	text-align: center;
	transform: translateY(20px);
}

#mapContainer {
	margin: 0 auto;
	text-align: center;
}

#topUsers {
	float: right;
	transform: translate(170px, 12px);
}

.tableElement {
	width: 200px;
	height: 40px;
	font-size: 13px;
	line-height: 40px;
	background-color: white;
	border-bottom: 1px solid #c41200;
	list-style-type: none;
	color: #c41200;
	font-weight: normal;
}

.tableElement:hover {
	cursor: pointer;
	font-weight: 600;
}

#topSelection {
	float: right;
	transform: translate(-30px, -15px);
	width: 205px;
	height: 35px;
	border-bottom: 1px solid #c41200;
}

.selectType {
	width: 99px;
	height: 30px;
	background-color: white;
	margin: 0 auto;
	text-align: center;
	line-height: 30px;
	font-size: 13px;
	display: inline-block;
}

.selectType:hover {
	cursor: pointer;
	font-weight: 600;
}

.selectedUser {
	font-weight: 600;
}

#selectTopUsers {
	border-right: 1px solid #c41200;
}

.popup {
  text-align:center;
  }
.popup .slideshow .image        { display:none; }
.popup .slideshow .image.active { display:block; }
.popup .slideshow img {
  width:100%;
  }
.popup .slideshow .caption {
  background:#eee;
  padding:10px;
  }
.popup .cycle {
  padding:10px 0 20px;
  }
  .popup .cycle a.prev { float:left; }
  .popup .cycle a.next { float:right; }

#businessModal {
	position: absolute;
	width: 80%;
	height: 80%;
	background-color: white;
	z-index: 9999;
	box-shadow: 20px 20px 100px #888888;
	margin: 0 auto;
	text-align: center;
	transform: translate(120px, -20px);
	border-radius: 2px;
	display: none;
}

#bizTitle {
	width: 90%;
	height: 60px;
	font-size: 30px;
	font-weight: 600;
	color: #c41200;
	border-bottom: 1px solid #c41200;

	transform: translateX(5%);
}

#bizTitle > p {  
	margin: 0 auto;
	float: left;
	transform: translate(0, 20px)
}

#pieChart {
	height: 200px;
	width: 200px;
	transform: translate(180px, 0);
}

#myChart {
	height: 200px;
	width: 300px;
	transform: translate(50px, -150px);
}

#myCheckin {
	height: 200px;
	width: 300px;
	transform: translate(50px, -120px);
}

#pieChart, #myChart, #myCheckin {
	display: inline-block;
}

#close {
	float: right;
	transform: translate(-10px, -50px);
}

#close:hover {
	cursor: pointer;
}

#ratingInput {
	transform: translate(50px, 120px);
	width: 145px;
	height: 30px;
	line-height: 30px;
	border: 2px solid #c41200;
	font-size: 13px;
	padding-left: 5px;
	text-align: center;
}

#ratingFilter {
	width: 140px;
	height: 30px;
	line-height: 30px;
	border: 2px solid #c41200;
	background-color: white;
	color: #c41200;
	text-align: center;
	display: inline-block;
	font-size: 13px;
	transition: all .2s ease-in;
	transform: translate(50px, 130px);

}

#ratingFilter:hover {
	cursor: pointer;
	background-color: #c41200;
	color: white;

	transition: all .1s ease-out;
}

#avgRatingForSelection {
	z-index: 9999;
	color: #c41200;
	font-size: 20px;
}

#showAvg {
	width: 140px;
	height: 30px;
	line-height: 30px;
	border: 2px solid #c41200;
	background-color: white;
	color: #c41200;
	text-align: center;
	display: inline-block;
	font-size: 13px;
	transition: all .2s ease-in;
	transform: translate(50px, 140px);
}
