body {
	margin:0;
	padding:0;
	font-family: Avenir Next;
}

#map {
	position:absolute;
	top:15%;
	bottom:15%;
	left: 10%;
	width:70%;
}

#marker-list {
		position:absolute;
		top:0; right:0; width:200px;
		bottom:0;
		overflow-x:auto;
		background:#fff;
		margin:0;
		padding:5px;
}
#marker-list li {
		padding:5px;
		margin:0;
		list-style-type:none;
}
#marker-list li:hover {
		background:#eee;
}

.cityToggle {
	width: 100px;
	height: 50px;
	color: red;
	background-color: black;
	border: 5px solid red;
	display: inline-block;
}

#citySelection {
	width: 100%;
	background-color: red;
}